# binaries
bin/
*.exe
*.out

# dependencies
vendor/

# logs

build-errors.log

# temp folder

tmp/

# binary

main



# env
.env

# logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

build-errors.log
maingit 